.gitignore export-ignore

/public
/tests export-ignore
/bin export-ignore
/config/dev-packages export-ignore
.env export-ignore
/migrations export-ignore

.php-cs-fixer.dist.php export-ignore
phpunit.xml.dist export-ignore
phpstan.dist.neon export-ignore

*.md export-ignore